[package]
name = "towboot_x64"
version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
edition = "2021"

[dependencies]
towboot = { path = "../towboot", artifact = "bin", target = "x86_64-unknown-uefi" }
